:root {
    --color_secundario: "#183657";
    --color_primario: "#ffffff";
    --color_detalles:"#ff1e70";
    --color_detalles_secundario: "#14d5aa";
    --color_fondo_secundario:"#e2e6e9"
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}


form {
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    text-align: left;
    overflow-y: scroll;
    max-height: 70px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

h2 {
    color: var(--color_primario);
}

p {
    color: var(--color_primario);
}
